// Import Bulma's variables and components
@import "~bulma/sass/utilities/initial-variables.sass";
@import "~bulma/sass/utilities/functions.sass";
@import "~bulma/sass/utilities/derived-variables.sass";
@import "~bulma/bulma.sass";
@import '_custom-bulma-variables';

h1, h2, h3, h4, h5, h6 {
  font-family: "Domine", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

p, button, ol, ul, li {
  font-family: "Domine", serif;
  font-optical-sizing: auto;
  font-size: 20px;
}
