@import "../styles/_global.scss";

// Now you can use the $primary variable
.home {
  .title {
    color: $primary;
    font-size: 2rem;
  }
  .section-1 {
    padding-bottom: 0px;
    background-image: linear-gradient(to bottom, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    h1, p {
      color: white
    }
    h1 {
      padding-top: 70px;
    }
    min-height: 100vh;
  }

  .section-2 {
    color: $white;
    min-height: 100vh;
    background-image: linear-gradient(to right, #d16ba5, #c56ab2, #b46bbf, #9d6dcb, #7f71d6, #6e73da, #5a75dd, #3e77e0, #3e77e0, #3e77e0, #3e77e0, #3e77e0);
      .container {
        max-width: 1000px !important;
        margin: 0 auto;
      };
    }

  .section-3 {
    min-height: 100vh;
    background-image: linear-gradient(to right, #ffffff, #efeaff, #e2d5ff, #d6bffe, #cda8fa, #e09bee, #f18edc, #ff81c7, #ff8ca0, #ffa979, #ffce60, #f0f468);
    .container {
      max-width: 1000px !important;
      margin: 0 auto;
      .sun-border {
        position: relative;
        img {
          width: 20px;
        }
        hr {
          margin-top: -17px;
          background-color: black;
        }
      }
      .eq-reset-timeline {
       .timeline:first-child {
          border-left: 1px solid black;
        }
        .timeline:last-child {
          border-right: 1px solid black;
        }
      }
      .eq-glow-timeline {
        .timeline:first-child {
           border-left: 1px solid black;
         }
         .timeline:last-child {
           border-right: 1px solid black;
         }
       }
      .timeline {
        border-bottom: 1px solid $black;
      }
    };
  }

  .section-4 {
    min-height: 100vh;
    background-image: linear-gradient(to right, #5f51f7, #8c56f4, #ac5df1, #c767ee, #de72ec, #de72ec, #de72ec, #de72ec, #c767ee, #ac5df1, #8c56f4, #5f51f7);
    .container {
      max-width: 1000px !important;
      margin: 0 auto;
    }
  }

  .section-5 {
    min-height: 100vh;
    background-color: #6e73da;
    .container {
      max-width: 1000px !important;
      margin: 0 auto;
    }
  }
}
