@import "../styles/_global.scss";

// Now you can use the $primary variable
.home {
  .button {
    background-color: $primary;
    color: $white;
    border: transparent;
    &:hover {
      background-color: darken($primary, 10%);
      color: $white;
    }
  }
  .title {
    color: $primary;
    font-size: 2rem;
  }
  .section-1 {
    padding-bottom: 0px;
    background: linear-gradient(to top, #8989ff, #75e884);
    min-height: 100vh;
    h1, p {
      color: white
    }
    h1 {
      padding-top: 70px;
    }
  }

  .section-2 {
    color: $white;
    min-height: 100vh;
    background-image: linear-gradient(to bottom, #8989ff, #f697f1);
    h1 {
      color: #7c283b;
    }
    .container {
      max-width: 1000px !important;
      margin: 0 auto;
    };
    }

  .section-3 {
    min-height: 100vh;
    background-image: linear-gradient(to top, #8989ff, #f697f1);
    .background-image-yoga {
      max-width: 300px;
    }
    .container {
      max-width: 1000px !important;
      margin: 0 auto;
    };
  }

  .section-4 {
    min-height: 100vh;
    background-image: linear-gradient(to bottom, #8989ff, #f3f697);
    .container {
      max-width: 1000px !important;
      margin: 0 auto;
    }
    .card {
      background-color: #f4f4f48f;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      transition: transform 0.2s;
      &:hover {
        transform: scale(1.05);
      }
      .features {
        border-bottom: 1px solid $primary;
      }
      
    }
  }

  .section-5 {
    min-height: 100vh;
    background-image: linear-gradient(to top, #8989ff, #f3f697);
    .container {
      max-width: 1000px !important;
      margin: 0 auto;
      .sun-border {
        position: relative;
        img {
          width: 20px;
        }
        hr {
          margin-top: -17px;
          background-color: black;
        }
      }
      .eq-reset-timeline {
       .timeline:first-child {
          border-left: 1px solid black;
        }
        .timeline:last-child {
          border-right: 1px solid black;
        }
      }
      .eq-glow-timeline {
        .timeline:first-child {
           border-left: 1px solid black;
         }
         .timeline:last-child {
           border-right: 1px solid black;
         }
       }
      .timeline {
        border-bottom: 1px solid $black;
      }
    }
  }

  .section-6 {
    padding-bottom: 0px;
    background: linear-gradient(to top, #f5a87b, #8989ff);
    min-height: 100vh;
    .container {
      max-width: 1000px !important;
      margin: 0 auto;
    };
    h1, p {
      color: white
    }
    h1 {
      padding-top: 70px;
    }
  }
}
