// src/styles/_custom-header.scss
@import '../../styles/_custom-bulma-variables';

// Custom Header Styling
.navbar {
  position: sticky; // Sticky positioning
  top: 0; // Stick to the top of the viewport
  z-index: 999; // Ensure it stays above other content
  background-color:  #6f6e6e46 !important; // Use custom violet for background
  backdrop-filter: blur(10px) !important;;
  padding: 5px 10px; // Padding for spacing
  max-width: 1000px;
  margin: 0 auto;
  
  // Navbar burger styling
  .navbar-burger {
    color: $white;
    cursor: pointer;
    
    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }
    
    span {
      background-color: currentColor;
      height: 1px;
    }
  }
  
  // Mobile menu styling
  .navbar-menu {
    &.is-active {
      display: block;
      animation: fadeIn 0.2s ease-in-out;
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
      background-color:  #6f6e6e46 !important; // Use custom violet for background
      backdrop-filter: blur(10px) !important;
    }
    
    @media screen and (max-width: 1023px) {
      position: absolute;
      width: 100%;
      left: 0;
      background-color: #6f6e6e99 !important;
      backdrop-filter: blur(10px) !important;
    }
  }

  .navbar-end {
    @media screen and (max-width: 1023px) {
      position: absolute;
      width: 100%;
      left: 0;
      background-color: #00000099 !important;
      backdrop-filter: blur(10px) !important;
    }
  }

  // Styling for menu items
  .navbar-item {
    font-family: "Domine", serif;
    color: $white;
    position: relative;
    transition: color 0.3s ease, background-color 0.3s ease;
    
    &:hover {
      color: lighten($primary, 10%); // Change color on hover
      background-color: rgba(123, 122, 122, 0.1);
    }
    
    // Animated underline for active item
    &.is-active {
      font-weight: bold;
      
      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 0;
        height: 2px;
        // background-color: lighten($primary, 10%);
        animation: expandUnderline 0.3s forwards;
      }
    }
  }
}

// Animation for menu
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform: translateY(0); }
}

// Animation for active menu item underline
@keyframes expandUnderline {
  to { 
    width: 70%;
    left: 15%; 
  }
}
