.accordion {
  margin: 10px 0;
}

.accordion-header {
  border-radius: 50px;
  background-color: #27749a;
  padding: 20px 60px;
  color: white;
}
.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
  padding: 0 20px;
}

.accordion-content.open {
  max-height: 500px; /* adjust based on content length */
}